<div class="row" ng-controller="WatchCtl">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <h1 ng-bind="upload.name"></h1>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <div class="flex-video widescreen">
          <iframe width="420" height="315" ng-src="http://www.youtube.com/embed/{{upload.id}}?origin=http://sanctuarykirtan.co.uk&amp;iv_load_policy=3&amp;showinfo=0&amp;controls=2&amp;autohide=1" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="large-4 columns" ng-bind-html-unsafe="upload.about"></div>
    </div>
  </div>
</div>