@import "normalize";
@import "foundation-variables";
@import "foundation";

@import "compass/css3/images";
@import "compass/css3/box-shadow";

.wf-loading {
  display: none;
}

/* Add external links icons */
a[href^="http"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}
/* Strip from links to own domain or with class no_icon */
a[href*="localhost"]:after,
a.no_icon:after {
  content:"" !important;
  padding-left: 0;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
  font-size: 1em;
}

.alert-box {
  a {
    color: $alert-font-color;
  }
}

.top-bar {
  @include box-shadow(rgba(0, 0, 0, .3) 1px 1px 5px);
  ul {
    background: $topbar-bg;
    li > a {
      &:hover {
        color: $topbar-link-color-hover;
      }
      &:active {
        color: $topbar-link-color-active;
      }
    }
  }
}
